<div class="container">
  <app-search
    (changeFilter)="changeFilter($event)"
    [search]="filterUsers"
    ></app-search>
  <div class="section row">
    <div
      class="col s11"
      (click)="addUser()"
    >
      <a class="btn-floating waves-effect waves-light btn cyan"><i class="material-icons right">add</i></a>
    </div>
  </div>
  <ul class="collection">
    <li class="collection-item avatar" *ngFor='let user of users'>
      <app-user
        (deleteUser)='deleteUser($event)'
        [user]='user'>
      </app-user>
    </li>
  </ul>
   <app-pagination
    [page]="page"
    (onPrev)="prevPage()"
    (onNext)="nextPage()"
    ></app-pagination> 
</div>
